<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/lightbox.min.css')}}">
  <title>Reddit Image Scraper</title>
</head>

<body>
  <div class="flex mb-4 h-screen">

    <div class="border shadow-lg w-1/2 rounded-lg ml-8 mr-8 mt-2 mb-2 max-h-screen">
      <form class="ml-8 mt-8 w-full max-w-lg p-2" method="post" action="{{ url_for('submit') }}">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              Reddit username
            </label>
            <input required name="reddit_username"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" type="text" placeholder="Reddit username">
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              Reddit password
            </label>
            <input required name="reddit_password"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password" type="password" placeholder="******************">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              Client ID
            </label>
            <input required name="client_username"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" type="text" placeholder="Client username">
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" name="client_secret">
              Client secret
            </label>
            <input required name="client_secret"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password" type="password" placeholder="******************">
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
              Subreddit
            </label>
            <input required name="subreddit"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-city" type="text" placeholder="Subreddit name">
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              Sort
            </label>
            <div class="relative">
              <select name="sort"
                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-state">
                <option>Hot</option>
                <option>New</option>
                <option>Top</option>
                <option>Rising</option>
                <option>Controversial</option>
                <option>Gilded</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <button
          class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 mt-8 text-sm border-4 text-white py-1 px-2 rounded"
          type="submit">
          Scrape
        </button>
      </form>
      <form class="ml-8 mt-8 w-full max-w-lg p-2" method="post" action="{{ url_for('download') }}">
        <div class="{{info}}" role="alert">
          <p>{{message}}</p>
        </div>
        <button class="{{download_button}}" type="submit">
          Download
        </button>
      </form>
      <div class="{{error}}" role="alert">
        <span class="block sm:inline">{{exception}}</span>
      </div>
      <div class="{{d_info}}" role="alert">
        <p>{{d_message}}</p>
      </div>
    </div>



    <div class="border shadow-lg w-1/2 rounded-lg mr-8 mt-2 mb-2 max-h-screen overflow-y-auto">
      <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            {% for l in pics %}
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a class="image-link" data-lightbox="example-set" href={{l}}>
                  <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg" src={{l}}>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

<script src="{{ url_for('static',filename='dist/js/lightbox-plus-jquery.min.js')}}"></script>

</html>